.App {
  /* text-align: center; */
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin:1rem;
  width:100%;
  height:100%;

}
#BackImg{
  background-image: url('/Assets/Green-Tropical-Plant-Wallpaper-Mural-Plain.jpg');
}
#About.App{
  width:70%;
  height:100%;
  max-width: 50%;
  max-height: 100%;

  background-color: peru;
}
.App > p{
  width:55%;
  height: 100%;
  background-color: peachpuff;

}
.App > ul{
  width:55%;
  height: 100%;
  background-color: peachpuff;
  
}
.App > form.App{
  width:20rem;
  box-shadow: .1rem .2rem .1rem grey;
  height:100%;
  background-color: lightgrey;
}
.App > label {
  font-family: 'Ubuntu';
  border-radius:30%;
  border-bottom-left-radius: 2% black;
  padding:.1rem;
  margin:.2rem;
}
.App > input{
  box-shadow: .3rem .2rem .1rem grey;
  padding:.1rem;
  margin:.2rem;
}
.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }


}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    translate: 30px;
  }
  to {
    translate: -30px;
  }

  

  
}
